# ignore env
.env

# python cache
__pycache__/
*.pyc

# os files
.DS_Store

# venvs
venv/

# Ignore exported course data
export/data/
export/test_data/

# zip course for share with GPT
*.zip


# Temp / backup files
*.bak
tmp_test_root/

#notes and chat
docs/gpt_context.md
docs/working_*.md
docs/_gpt_chat/*
docs/structure/*

#local test export
sandbox_export/
